<!DOCTYPE html>
<html>
<head>
	<title>Confirmation</title>
</head>

<body>
	<p>Thank you, <%= @message_name %>! Your message below has been received! You will receive a reply by e-mail at <%= @message_email %>.</p>
	<br />
	<p><%= @message_story %></p>
	<% end %>
</body>
</html>